/*!
Theme Name: HLGR
Theme URI: http://underscores.me/
Author: Wis17 Agency
Author URI: https://wis17.agency/
Description: Highlights Lake Geneva Region - Designed by Wis17 Agency
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: wis17
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

HLGR is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/

/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  height: 100%;
}

/* Sections
		 ========================================================================== */

/**
	 * Remove the margin in all browsers.
	 */

body {
  margin: 0;
}

/**
	 * Correct the font size and margin on `h1` elements within `section` and
	 * `article` contexts in Chrome, Firefox, and Safari.
	 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
		 ========================================================================== */

/**
	 * 1. Add the correct box sizing in Firefox.
	 * 2. Show the overflow in Edge and IE.
	 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
	 * 1. Correct the inheritance and scaling of font size in all browsers.
	 * 2. Correct the odd `em` font sizing in all browsers.
	 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
		 ========================================================================== */

/**
	 * Remove the gray background on active links in IE 10.
	 */

a {
  background-color: transparent;
  outline: none !important;
  text-decoration: none !important;
}

/**
	 * 1. Remove the bottom border in Chrome 57-
	 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
	 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
	 * Add the correct font weight in Chrome, Edge, and Safari.
	 */

b,
strong {
  font-weight: bolder;
}

/**
	 * 1. Correct the inheritance and scaling of font size in all browsers.
	 * 2. Correct the odd `em` font sizing in all browsers.
	 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
	 * Add the correct font size in all browsers.
	 */

small {
  font-size: 80%;
}

/**
	 * Prevent `sub` and `sup` elements from affecting the line height in
	 * all browsers.
	 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
		 ========================================================================== */

/**
	 * Remove the border on images inside links in IE 10.
	 */

img {
  border-style: none;
}

/* Forms
		 ========================================================================== */

/**
	 * 1. Change the font styles in all browsers.
	 * 2. Remove the margin in Firefox and Safari.
	 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
	 * Show the overflow in IE.
	 * 1. Show the overflow in Edge.
	 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
	 * Remove the inheritance of text transform in Edge, Firefox, and IE.
	 * 1. Remove the inheritance of text transform in Firefox.
	 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
	 * Correct the inability to style clickable types in iOS and Safari.
	 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
	 * Remove the inner border and padding in Firefox.
	 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
	 * Restore the focus styles unset by the previous rule.
	 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
	 * Correct the padding in Firefox.
	 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
	 * 1. Correct the text wrapping in Edge and IE.
	 * 2. Correct the color inheritance from `fieldset` elements in IE.
	 * 3. Remove the padding so developers are not caught out when they zero out
	 *		`fieldset` elements in all browsers.
	 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
	 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
	 */

progress {
  vertical-align: baseline;
}

/**
	 * Remove the default vertical scrollbar in IE 10+.
	 */

textarea {
  overflow: auto;
}

/**
	 * 1. Add the correct box sizing in IE 10.
	 * 2. Remove the padding in IE 10.
	 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
	 * Correct the cursor style of increment and decrement buttons in Chrome.
	 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
	 * 1. Correct the odd appearance in Chrome and Safari.
	 * 2. Correct the outline style in Safari.
	 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
	 * Remove the inner padding in Chrome and Safari on macOS.
	 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
	 * 1. Correct the inability to style clickable types in iOS and Safari.
	 * 2. Change font properties to `inherit` in Safari.
	 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
		 ========================================================================== */

/*
	 * Add the correct display in Edge, IE 10+, and Firefox.
	 */

details {
  display: block;
}

/*
	 * Add the correct display in all browsers.
	 */

summary {
  display: list-item;
}

/* Misc
		 ========================================================================== */

/**
	 * Add the correct display in IE 10+.
	 */

template {
  display: none;
}

/**
	 * Add the correct display in IE 10.
	 */

[hidden] {
  display: none;
}

/*--------------------------------------------------------------
	# Typography
	--------------------------------------------------------------*/

body,
button,
input,
select,
optgroup,
textarea {
  color: #45444f;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

p {
  margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

/*--------------------------------------------------------------
	# Elements
	--------------------------------------------------------------*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul,
ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

/*--------------------------------------------------------------
	# Forms
	--------------------------------------------------------------*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: 0.6em 1em 0.4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111;
}

select {
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
}

/*--------------------------------------------------------------
	# Navigation
	--------------------------------------------------------------*/

/*--------------------------------------------------------------
	## Links
	--------------------------------------------------------------*/

a {
  color: inherit;
}

a:visited {
  color: inherit;
}

a:hover,
a:focus,
a:active {
  color: inherit;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

/*--------------------------------------------------------------
	## Menus
	--------------------------------------------------------------*/

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 100%;
  left: -999em;
  z-index: 99999;
}

.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  left: 100%;
}

.main-navigation ul ul a {
  width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
}

.main-navigation li {
  display: inline-block;
}

.main-navigation a {
  display: inline-block;
  text-decoration: none;
  outline: none !important;
  line-height: 1;
  margin-top: -2px;
  margin-left: 2px;
  transition: all 0.25s ease;
}
.main-navigation a:hover,
.main-navigation a:focus,
.main-navigation a:active,
.main-navigation li.active a{
  color: #D1AC3D;
}
/* .main-navigation .menu li.active a[href="#partners"],
  .main-navigation .menu li:hover a[href="#partners"] {
	  color: #7fa6b2;
  }
  
  .main-navigation .menu li.active a[href="#routes"],
  .main-navigation .menu li:hover a[href="#routes"] {
	  color: #a93130;
  }
  
  .main-navigation .menu li.active a[href="#contact"],
  .main-navigation .menu li:hover a[href="#contact"] {
	  color: #d1ac3d;
  } */

/* Small menu. */

.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: block;
  }
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

/*--------------------------------------------------------------
	# Accessibility
	--------------------------------------------------------------*/

/* Text meant only for screen readers. */

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */

#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
	# Alignments
	--------------------------------------------------------------*/

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
	# Clearings
	--------------------------------------------------------------*/

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
	# Widgets
	--------------------------------------------------------------*/

.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */
}

.widget select {
  max-width: 100%;
}

/*--------------------------------------------------------------
	# Content
	--------------------------------------------------------------*/

/*--------------------------------------------------------------
	## Posts and pages
	--------------------------------------------------------------*/

.sticky {
  display: block;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
	## Comments
	--------------------------------------------------------------*/

.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

/*--------------------------------------------------------------
	# Infinite scroll
	--------------------------------------------------------------*/

/* Globally hidden elements when Infinite Scroll is supported and in use. */

.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */

.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
	# Media
	--------------------------------------------------------------*/

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */

embed,
iframe,
object {
  max-width: 100%;
}

/* Make sure logo link wraps around logo image. */

.custom-logo-link {
  display: inline-block;
}

/*--------------------------------------------------------------
	## Captions
	--------------------------------------------------------------*/

.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

/*--------------------------------------------------------------
	## Owl carousel
	--------------------------------------------------------------*/

/*
	 *  Owl Carousel - Core
	 */

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */

.no-js .owl-carousel {
  display: block;
}

/*
	   *  Owl Carousel - Animate Plugin
	   */

.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/*
	   * 	Owl Carousel - Auto Height Plugin
	   */

.owl-height {
  transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item .owl-lazy[src^=""],
.owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

/*
	   * 	Owl Carousel - Video Plugin
	   */

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("images/owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/*
	 * 	Default theme - Owl Carousel CSS File
	 */

.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav [class*="owl-"] {
  color: #fff;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #d6d6d6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: #869791;
  color: #fff;
  text-decoration: none;
}

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}

/*--------------------------------------------------------------
	## Simplebar - Custom Scrollbar
	--------------------------------------------------------------*/

[data-simplebar] {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  visibility: visible;
  overflow: scroll;
  /* Scroll on this element otherwise element can't have a padding applied properly */
  max-width: 100%;
  /* Not required for horizontal scroll to trigger */
  max-height: 100%;
  /* Needed for vertical scroll to trigger */
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit !important;
  height: 100%;
  width: inherit;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0;
}

.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.simplebar-scrollbar {
  position: absolute;
  right: 2px;
  width: 7px;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: black;
  border-radius: 7px;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.simplebar-track .simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.5;
  transition: opacity 0s linear;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

/* Rtl support */

[data-simplebar-direction="rtl"] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
}

/*--------------------------------------------------------------
	## Main Style
  --------------------------------------------------------------*/

header {
  position: relative;
  background-color: #000;
  overflow: hidden;
}

header video,
header iframe.youtube_frame {
  position: absolute;
  top: -15%;
  left: -5%;
  width: 110%;
  height: calc(130% - 77px);
  z-index: 0;
  bottom: 77px;
  max-width: none;
}

.s-inner {
  padding: 0 20%;
  position: relative;
}

.s-inner h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 1.2em;
  margin-top: 0;
}

.s-desc {
  text-align: center;
}

.full-video {
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.full-video:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.35);
}

.full-video .player {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 4.8em;
  display: none;
  background: #000;
}

.full-video .player iframe {
  width: 100%;
  height: 100%;
}

.full-video .caption {
  position: relative;
  display: block;
  width: 70%;
  height: calc(100% - 77px);
  background: url(images/logo.svg) no-repeat center;
  background-size: contain;
  margin: 0 auto;
}

.full-video .caption::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  background: url(images/icon.svg) no-repeat center;
  background-size: contain;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 55%;
  cursor: pointer;
}

.main-navigation {
  clear: both;
  display: block;
  background: #fff;
  position: absolute;
  top: 100%;
  width: 100%;
  text-transform: uppercase;
  padding-top: 0.5em;
  z-index: 1;
  transform: translateY(-100%);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
}

.main-navigation.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  transform: none;
}

.main-navigation .inner {
  display: block;
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 0;
}

.main-navigation .site-logo-mobile {
  float: right;
  height: 32px;
  width: 80%;
  margin-right: -16px;
  display: none;
}

.main-navigation .site-logo-mobile a {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url(images/logob.svg) no-repeat center right;
  background-size: contain;
}

.main-navigation .site-logo,
.main-navigation ul {
  float: left;
}

.main-navigation .site-logo {
  width: 10%;
  visibility: hidden;
}

.main-navigation.fixed .site-logo {
  visibility: visible;
}

.main-navigation .site-logo a {
  width: 100%;
}

.main-navigation ul.menu {
  width: 80%;
  text-align: center;
  font-weight: 700;
}

.main-navigation ul.menu li {
  padding: 0 2em;
}

.main-navigation ul.languages {
  width: 10%;
  text-align: right;
  float: right;
}

.main-navigation ul.languages li {
  opacity: 0.5;
  margin: 0 5px;
  position: relative;
}

.main-navigation ul.languages li:last-child {
  margin-right: 0;
}

.main-navigation ul.languages li:after {
  content: "|";
  position: absolute;
  top: 0;
  right: -10px;
  bottom: 0;
  font-weight: 400;
  opacity: 0.5;
}

.main-navigation ul.languages li:last-child:after {
  content: none;
}

.main-navigation ul.languages li.active {
  font-weight: 700;
  opacity: 1;
}

.gal .featured {
  width: 100%;
  padding-bottom: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150%;
  position: relative;
  transition: background-size 0.5s ease-out;
}

.gal .featured:hover {
  background-size: 175%;
}

.gal .featured div {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.gal .featured::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(images/cross.svg) no-repeat center;
  background-size: 42px;
  cursor: pointer;
}

section {
  padding-top: 80px;
}

#partners .item .logo {
  padding: 15px 0;
  height: 115px;
  margin-bottom: 20px;
  position: relative;
}

#partners .item .logo a {
  display: block;
}

#partners .item .logo img {
  max-height: 80px;
  width: auto;
  margin: 0 auto;
  max-width: 50%;
  height: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}

#partners .s-inner {
  margin-bottom: 50px;
}

.map {
  margin-top: 5px;
}

.map .small {
  display: none;
}

.popup {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 999;
  left: 0;
  background: #fff;
  top: -100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  visibility: hidden;
  padding: 100px 0 0;
}

.popup.active {
  top: 0;
  opacity: 1;
  visibility: visible;
}

.popup.fadingOut {
  top: 0;
  opacity: 0 !important;
}

.popup .x {
  width: 26px;
  height: 26px;
  float: left;
  background: url(images/x.svg) no-repeat center;
  background-size: contain;
  cursor: pointer;
}

.popup .nav {
  float: right;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
}

.popup .nav span {
  display: block;
  padding-right: 20px;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: right center;
  cursor: pointer;
  text-align: right;
}

.popup .nav span:first-child {
  background-image: url(images/right.svg);
  margin-bottom: 5px;
}

.popup .nav span:last-child {
  background-image: url(images/left.svg);
}

.popup-content,
.owl-carousel,
.owl-carousel .owl-stage-outer,
.owl-carousel .owl-stage,
.owl-carousel .owl-item,
.owl-carousel .owl-item .item {
  height: 100%;
}

.popup-content .slides,
.popup-content .detail {
  width: 50%;
}

.popup-content .slides {
  padding-right: 30px;
}

.popup-content .slides .cycleslideshow > div {
  width: 100%;
  height: 60vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.popup-content .detail {
  padding-left: 30px;
  text-align: center;
  padding-right: 5%;
  vertical-align: middle;
}

.popup-content .detail .partner-logo img {
  width: auto;
  height: auto;
  max-height: 180px;
  margin: 0 auto;
}

.popup-content .button {
  margin-top: 15px;
}

.popup-content .pattern {
  position: absolute;
  width: 30%;
  z-index: -1;
  top: 50vh;
  left: 0;
  right: 0;
  height: 47vh;
}

.popup-content .pattern svg {
  width: 100%;
}

.popup-content .owl-carousel .item {
  overflow: hidden;
  padding: 0 10%;
  z-index: 1;
  position: relative;
}

.popup .topbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 99;
  padding: 1% 2%;
}

.highlight {
  font-size: 1.25em;
  line-height: 1.25;
  padding: 10px 0 0;
}

.table {
  display: table;
  border: none;
  border-collapse: collapse;
}

.table-cell {
  display: table-cell;
  vertical-align: top;
  position: relative;
}

.button {
  border: 1px solid #45444f;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 4px;
  display: inline-block;
  padding: 10px 30px;
  font-size: 12px;
  transition: background-color 0.5s ease-in-out;
}

.button:hover {
  background: #45444f;
  color: #fff;
}

#routes {
  background: #7fa6b2;
  padding-bottom: 80px;
}

#routes .s-inner {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  padding-right: 0;
}

#routes h1 {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  margin: 0;
}

#routes .s-content .item {
  margin-bottom: 40px;
  position: relative;
}

#routes .s-content .item .img {
  position: absolute;
  top: 0;
  right: 50%;
  bottom: 0;
  left: 0;
  background-size: 120%;
  background-position: center top;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
}

#routes .s-content .item:hover .img {
  background-position: center bottom;
  background-size: 125%;
}

#routes .s-content .item:last-of-type {
  margin-bottom: 0;
}

#routes .s-content .item .info {
  margin-left: 45%;
  background: #fff;
  text-align: center;
  padding: 60px 30px;
  position: relative;
}

#routes .s-content .item .info h2,
#popup-routes h2 {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 500;
  margin: 15px 0 25px;
  line-height: 1.35;
}

#popup-routes h2 {
  margin-top: 10px;
}

#popup-routes .item-content {
  height: 50vh;
  overflow: auto;
}

.route-detail {
  margin-left: 7%;
  margin-top: 15px;
}

.wp-block-table.is-style-stripes tr:nth-child(odd) {
  background: none !important;
}

.wp-block-table {
  table-layout: fixed;
  border: none !important;
  border-spacing: 0;
  border-collapse: collapse;
}

.wp-block-table td {
  padding: 5px;
}

.wp-block-table td:first-child {
  width: 15%;
}

.route-detail .wp-block-table {
  margin-left: -5px;
  margin-right: -5px;
}

#popup-routes .gal {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 30vh;
}

#popup-routes .gal > div {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  display: inline-block;
}

#popup-routes .gal.cols-2 div {
  width: 50%;
}

#popup-routes .gal.cols-3 div {
  width: 33.3333%;
}

#popup-routes .gal.cols-4 div {
  width: 25%;
}

#popup-routes .gal.cols-5 div {
  width: 20%;
}

#contact {
  background: #F7F6F2;
}
#contact .s-inner {
  width: 80%;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0;
}

.team {
  text-align: center;
  margin-left: -15px;
  margin-right: -15px;
  margin: 5% 0 8%;
  display: flex;
  flex-wrap: wrap;
}

.team .member {
  width: 33.33%;
  padding: 0 15px 60px;
}
.team .member hr {
  background-color: #707070;
  margin-bottom: 30px;
  margin-top: 0;
}
.team .member:first-child {
  width: 100%;
  /*margin-bottom: 60px;*/
  padding-top: 0px;
}
.team .member:first-child hr{
  display: none;
}
.team .member h2 {
  font-size: 1.2em;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 30px;
}

.team .member h2:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}

.team .member h2 span {
  display: inline-block;
  vertical-align: bottom;
  width: 100%;
}

.team .member h3 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.35;
  margin: 0.5em auto 0.5em;
  word-break: break-word;
  width: 80%;
}

.team .member span {
  display: block;
}

.team .member h4 {
  margin-top: 0;
  line-height: 1.35;
  margin-bottom: 5px;
  color: #45444f;
  font-weight: 700;
}

footer {
  background: #000;
  padding: 15px 0;
}

footer p {
  margin: 0 auto;
  text-align: center;
  color: #fff;
  width: 80%;
  max-width: 1280px;
}

.partner-item.table {
  width: 100%;
}

/*--------------------------------------------------------------
	# Responsive
	--------------------------------------------------------------*/

@media screen and (max-width: 1399px) {
  body,
  button,
  input,
  select,
  optgroup,
  textarea {
    font-size: 14px;
  }

  .main-navigation .site-logo,
  .main-navigation ul.languages {
    width: 20%;
  }

  .main-navigation ul.menu {
    width: 60%;
  }

  .main-navigation ul.menu li {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  #routes .s-content .item .info h2,
  #popup-routes h2 {
    font-size: 1.5em;
  }

  .button {
    padding: 8px 22px;
    font-size: 11px;
  }

  .popup-content .detail {
    padding-right: 10%;
  }
}

@media screen and (max-width: 1279px) {
  h1 {
    font-size: 1.8em;
  }

  .main-navigation .inner,
  #routes .s-inner,
  #contact .s-inner,
  footer p {
    width: 90%;
  }

  #partners {
    padding-top: 20px;
  }

  #routes .s-inner {
    padding-left: 24%;
  }

  .popup-content .detail {
    padding-right: 0;
  }
}

@media screen and (max-width: 991px) {
  .main-navigation .site-logo,
  .main-navigation ul.languages {
    width: 18%;
  }

  .main-navigation ul.menu {
    width: 64%;
  }

  .main-navigation ul.menu li {
    padding-left: 1em;
    padding-right: 1em;
  }

  #routes h1 {
    position: relative;
    top: 0;
    margin-bottom: 1.5em;
    width: 100%;
    text-align: center;
  }

  #routes .s-inner {
    padding-left: 0;
  }

  #contact h1 {
    transform: translateY(-50%);
  }

  .popup .topbar {
    padding-top: 2.5%;
  }

  .popup-content .slides,
  .popup-content .detail {
    display: block;
    padding: 0;
    margin-bottom: 40px;
    width: 100%;
  }

  .popup-content .detail .partner-logo img {
    max-width: 160px;
    max-height: 120px;
  }

  .popup-content .pattern {
    display: none;
  }

  .popup-content .owl-carousel .item {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  .popup-content .slides .cycleslideshow > div {
    height: 35vh;
  }
}

@media screen and (max-width: 739px) {
  .main-navigation .site-logo-mobile {
    display: block;
  }

  .main-navigation {
    top: 0;
    transform: none;
    position: fixed;
    font-size: 1.25em;
    padding-top: 0;
    height: 55px;
    overflow: hidden;
  }

  .main-navigation.expanded {
    height: auto;
  }

  .main-navigation .site-logo {
    display: none;
  }

  .main-navigation .menu li {
    display: block;
  }

  .main-navigation ul.menu,
  .main-navigation ul.languages {
    width: 100%;
    text-align: center;
  }

  .main-navigation ul.menu {
    margin-top: 40px;
  }

  .main-navigation ul.languages {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
  }

  .main-navigation ul.menu li {
    padding: 10px 0;
    font-weight: 400;
  }

  .menu-toggle {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
  }

  .menu-toggle .hamburger {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -5px;
  }

  .menu-toggle .hamburger span {
    width: 100%;
    height: 2px;
    position: relative;
    margin-bottom: 5px;
  }

  .menu-toggle .hamburger span:last-child {
    width: 50%;
  }

  .menu-toggle span {
    display: block;
    background: #45444f;
  }

  .main-navigation .inner {
    padding: 15px 0;
  }

  header video,
  header iframe.youtube_frame {
    top: 55px;
    height: calc(100% - 55px);
    bottom: 0;
    opacity: 0;
    transition: opacity 1s linear;
  }

  header iframe.youtube_frame.show{
    opacity: 1;
  }

  .full-video {
    margin-top: 55px;
    height: 0;
    padding-bottom: 56.25%;
  }

  .full-video .caption {
    background: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: auto;
  }

  .full-video .caption::before {
    width: 60px;
    height: 60px;
    top: 50%;
    margin-top: -30px;
  }

  .full-video .player {
    bottom: 0;
  }

  .s-inner {
    padding: 0 10%;
  }

  #partners {
    padding-top: 40px;
  }

  section {
    padding-top: 60px;
  }

  .gal .featured::after {
    background-size: 32px;
  }

  #routes .s-content .item .img {
    position: relative;
    right: 0;
    width: 100%;
    height: 200px;
    background-size: cover;
  }

  #routes .s-content .item .info {
    margin-left: 0;
    padding: 30px;
  }

  .team .member {
    width: 50%;
    padding-bottom: 40px;
  }

  .team .member:nth-child(4) {
    clear: both;
  }

  .popup .table,
  .popup .table-cell {
    display: block;
    width: 100%;
    padding: 0;
  }

  .popup-content .detail {
    margin-top: 40px;
  }

  .popup-content .slides {
    padding-right: 0;
    overflow: hidden;
  }

  .route-detail {
    margin-left: 0;
  }

  .wp-block-table td:first-child {
    width: 25%;
  }

  .map .small {
    display: block;
  }

  .map .large {
    display: none;
  }

  #popup-routes .gal {
    display: none;
  }

  #popup-routes .item-content {
    height: auto;
    overflow: inherit;
  }
}
@media screen and (max-width: 400px){
  .team .member {
    width: 100%;
  }
}